@mixin font-face($font-family, $path, $font-weight: 400, $font-style: normal) {
	@font-face {
		font-family: $font-family;
		src: url("#{$path}.eot");
		src:
			url("#{$path}.eot?#iefix") format("embedded-opentype"),
			url("#{$path}.woff2") format("woff2"),
			url("#{$path}.woff") format("woff"),
			url("#{$path}.ttf") format("truetype");
		font-weight: $font-weight;
		font-style: $font-style;
		font-display: swap;
	}
}

@function rem($px) {
	@return calc(($px / 16) * 1rem);
}

@function em($px) {
	@return calc(($px / 16) * 1em);
}