*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

img,
picture source,
svg {
	max-width: 100%;
	height: auto;
}

button,
input,
select,
option,
a {
	font: inherit;
	cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	font-family: var(--main-font);
	font-size: rem(18);
	color: var(--light);
	background: var(--dark);
}

.hidden {
	opacity: 0;
	visibility: hidden;
}

.no-scroll {
	overflow: hidden;
}

.wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
}

.container {
	max-width: rem(1140);
	margin: 0 auto;
	padding: 0 rem(20);

	&--small {
		max-width: rem(800);
	}

	@media (max-width: em(600)) {
		padding: 0 rem(10);
	}
}

.flex {
	display: flex;
}
.flex-c {
	justify-content: center;
}
.flex-col-c {
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.flex-sb-c {
	justify-content: space-between;
	align-items: center;
}
