.modal-wrapper {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: var(--accent);

	opacity: 0;
	visibility: hidden;
	transform: scale(0.2);
	transition: all 0.3s;
	
	overflow: hidden;

	&.active {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}
}

.modal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--accent);
	color: var(--light);
	text-align: center;
	overflow: auto;

	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
	
	&.active {
		opacity: 1;
		//display: block;
		visibility: visible;
	}

	&__btn-close {
		position: absolute;
		right: 10px;
		top: 10px;
	}

	&__scroll {
		
	}
}